Procesamiento de datos/*.csv

Procesamiento de datos/Datos ventas banco.tflx
Procesamiento de datos/iframe_figures/figure_29.html

BACKUP DATA CLUSTER/*.csv
cluster_data_20241106_020021/*.csv
cluster_data_*/*.csv